<ul class="image-gallery">
  {% for file in site.static_files %}
    {% if file.path contains include.folder %}
      {% assign ext = file.extname | downcase %}
      {% if ext == '.jpg' or ext == '.jpeg' or ext == '.png' %}
        {% assign filename = file.path | split: "/" | last | replace: file.extname, "" %}
        {% unless filename contains '_thumb' %}
          {% assign title = filename %}
          {% if include.title == false %}
            {% assign title = "" %}
          {% endif %}
          {% assign thumb = file.path | replace: file.extname, "_thumb" | append: file.extname %}
          {% assign thumb_exists = site.static_files | where: "path", thumb | size > 0 %}
          {% if thumb_exists == 0 %}
            {% assign thumb = file.path %}
          {% endif %}
          <li>
            <a href="{{ file.path | relative_url }}" title="{{ title }}">
              <img src="{{ thumb | relative_url }}" alt="{{ filename }}" title="{{ title }}" />
              <span>{{ title }}</span>
            </a>
          </li>
        {% endunless %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
